<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path('banner.jpg') %>');">
  <div class="container">
    <h1>Bienvenue chez CocktailLand !</h1>
    <p>Avec les cocktails, la fête est bien folle</p>
    <a class="btn btn-flat" href="#"><%= link_to "Créer un cocktail", new_cocktail_path %></a>
  </div>
</div>


<div class="container">
  <% @cocktails.each do |cocktail| %>
    <% if cocktail.photo.present? %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path(cocktail.photo, width: 400, height: 300, crop: :fill)%>);">
         <h4> <%= link_to cocktail.name, cocktail_path(cocktail.id) %> </h4>
      </div>
    <% end %>
  <% end %>
</div>

<!-- app/views/articles/index.html.erb -->
