.btn-delete a {
  color: white;
  text-decoration: none;

}

.btn-delete {
  margin-top: 25%;
  margin-left: 25%;
}

.btn-add-dose a {
  color: white;
  text-decoration: none;

}
.btn-add-dose {
  margin-top: 25%;
}

.btn-menu {

  padding: 10px 15px;
  font-weight: bold;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  transition: background 0.3s ease;
  margin-top: 5%;

}

.btn-menu:hover {
  opacity: 1;
  text-decoration: none;

}

